<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.test.ApprovalOrganizationMapper">
  <resultMap id="BaseResultMap" type="com.study.pojo.test.ApprovalOrganization">
    <id column="AOID" jdbcType="VARCHAR" property="aoid" />
    <result column="AO_PM_ID" jdbcType="VARCHAR" property="aoPmId" />
    <result column="AO_APPROVAL_MECHANISM" jdbcType="VARCHAR" property="aoApprovalMechanism" />
    <result column="AO_APPROVAL_MECHANISM_CODE" jdbcType="VARCHAR" property="aoApprovalMechanismCode" />
    <result column="ATTRIBUTE1" jdbcType="VARCHAR" property="attribute1" />
    <result column="ATTRIBUTE2" jdbcType="VARCHAR" property="attribute2" />
    <result column="ATTRIBUTE3" jdbcType="VARCHAR" property="attribute3" />
    <result column="ATTRIBUTE4" jdbcType="VARCHAR" property="attribute4" />
    <result column="ATTRIBUTE5" jdbcType="VARCHAR" property="attribute5" />
  </resultMap>
  
  <insert id="testInsert" parameterType="com.study.pojo.test.ApprovalOrganization">
    insert into WFP_APPROVAL_ORGANIZATION (AOID, AO_PM_ID)
    values (#{aoid,jdbcType=VARCHAR}, #{aoPmId,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insert" parameterType="com.study.pojo.test.ApprovalOrganization">
    insert into WFP_APPROVAL_ORGANIZATION (AOID, AO_PM_ID, AO_APPROVAL_MECHANISM, 
      AO_APPROVAL_MECHANISM_CODE, ATTRIBUTE1, ATTRIBUTE2, 
      ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5
      )
    values (#{aoid,jdbcType=VARCHAR}, #{aoPmId,jdbcType=VARCHAR}, #{aoApprovalMechanism,jdbcType=VARCHAR}, 
      #{aoApprovalMechanismCode,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, 
      #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}
      )
  </insert>
  
</mapper>